* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    height: 50px;
    width: 100%;
    display: flex;
    background: #C4493C;
}

header span {
    width: 50px;
    text-align: center;
    line-height: 50px;
}

header .input {
    flex: 1;
}

header .input input {
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 20px;
}

.iconfont {
    font-size: 18px;
    color: #fff;
}

section {
    width: 100%;
    height: 100%;
    flex: 1;
}

section .nav {
    width: 100%;
    height: 50px;
    display: flex;
    line-height: 50px;
    text-align: center;
}

section .nav li {
    flex: 1;
}

.commer {
    height: 165px;
    width: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.commer .swiper-slide {
    width: 100%;
    height: 100%;
}

.commer .swiper-slide>img {
    width: 100%;
    height: 100%;
}

.list {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list>span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list>span>i.iconfont {
    font-size: 30px;
    color: #C4493C;
}

.list>span>em {
    font-size: 12px;
    font-style: normal;
    color: #000;
}

h1 {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    border-left: 2px solid #C4493C;
    font-weight: normal;
}

footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2F2928;
}

footer>span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>span>i.iconfont {
    font-size: 20px;
    color: #fff;
}

footer>span>em {
    font-size: 12px;
    font-style: normal;
    color: #fff;
}